#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cells {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid lightslategray;
  border-radius: 5px;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell input {
  border: none;
  border-bottom: 2px solid skyblue;
  outline: none;
  background: none;
  width: 18px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.add {
  height: 120px;
  width: 12px;
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
}

.add:hover {
  background-color: greenyellow;
}

.combinedString {
  flex-basis: 100%;
  margin-top: 20px;
  font-size: 20px;
  color: slategrey;
  text-decoration: underline;
}

.delete {
  position: absolute;
  left: 5px;
  top: 0px;
  color: salmon;
  cursor: pointer;
}